<% provide(:title, "Home")%>
<html>

<head>
<title><%=yield(:title)%> | Test App</title>
</head>
<h1>StaticPages#home</h1>
<p>This is the homepage
<a href = "/static_pages/help.html">test link</a>
</p>
</html>